<div>
  <b>Page Size: &nbsp;</b>
  <select (change)="onPageSizeChanged(pageSize.value)" #pageSize id="page-size">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
</div>
<br />
<div>
  <ag-grid-angular
    style="width: 100%"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [suppressRowClickSelection]="true"
    [gridOptions]="gridOptions"
    [pagination]="true"
    [paginationPageSize]="10"
    [editType]="editType"
    [frameworkComponents]="frameworkComponents"
    (cellValueChanged)="onCellValueChanged($event)"
    (gridReady)="onGridReady($event)"
    (rowSelected)="onRowSelected($event)"
  >
  </ag-grid-angular>
</div>

<br />
<div class="row">
  <div class="col-sm text-left">
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#addEmployeeModal"
    >
      <i class="fa fa-plus"></i> New Employee
    </button>
  </div>
  <div class="col-sm text-right">
    <button type="button" class="btn btn-warning" (click)="cancelAdd()">
      <i class="fa fa-times"></i> Cancel
    </button>
    <button
      type="button"
      class="btn btn-success ml-2"
      (click)="updateEmployee()"
    >
      <i class="fa fa-save"></i> Save
    </button>
  </div>
</div>

<!-- Edit Modal -->
<div
  class="modal fade"
  id="addEmployeeModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addEmployeeModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeeModalTitle">
          New Employee Form
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="!submitted">
          <form #addForm="ngForm">
            <div class="form-group">
              <label for="name">First Name</label>
              <input
                type="text"
                [(ngModel)]="employee.firstName"
                name="firstName"
                class="form-control"
                id="firstName"
                aria-describedby="emailHelp"
                placeholder="First Name"
                [required]="true"
              />
            </div>
            <div class="form-group">
              <label for="name">Last Name</label>
              <input
                type="text"
                [(ngModel)]="employee.lastName"
                name="lastName"
                class="form-control"
                id="lastName"
                aria-describedby="emailHelp"
                placeholder="Last Name"
                required
              />
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input
                type="email"
                [(ngModel)]="employee.email"
                name="email"
                class="form-control"
                id="email"
                placeholder="Email"
                required
              />
            </div>
            <div class="form-group">
              <label for="phone">Birth Date</label>
              <input
                type="date"
                [(ngModel)]="employee.dateOfBirth"
                name="dob"
                class="form-control"
                id="dob"
                placeholder="Birth Date"
                required
              />
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input
                type="text"
                [(ngModel)]="employee.phoneNumber"
                name="phone"
                class="form-control"
                id="phone"
                name="phone"
                placeholder="Phone"
                required
              />
            </div>
            <div class="form-group">
              <label for="phone">Joining Date</label>
              <input
                type="date"
                [(ngModel)]="employee.dateOfJoin"
                name="doj"
                class="form-control"
                id="doj"
                placeholder="Joining Date"
                required
              />
            </div>
            <div class="modal-footer">
              <button
                (click)="saveEmployee(addForm)"
                type="button"
                class="btn btn-success"
                [disabled]="!addForm.form.valid"
                data-dismiss="modal"
                aria-label="Close"
              >
                Save
              </button>
              <button
                (click)="cancelAdd()"
                type="button"
                class="btn btn-danger"
                data-dismiss="modal"
                aria-label="Close"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
