<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark navbar-fixed">
    <a href="#" class="navbar-brand">Employee Management System</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="employees" class="nav-link">Employees</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-employee" class="nav-link">Add Employee</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
